<template>
    <lightning-button disabled={apiCallFlag} variant={brand} label={label} title="buttonAction" onclick={handleButtonClick} class="slds-m-left_x-small">
    </lightning-button>
</template>
